<%- include('layout', { body: `
    <h2>Login Events</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Domain</th>
            </tr>
        </thead>
        <tbody>
            ${creds.map(c => `
            <tr>
                <td>${c.userId}</td>
                <td>${c.domain}</td>
            </tr>
            `).join('')}
        </tbody>
    </table>
    ` }) %>